img {
    width: 30%;
    height: auto;
  }

#productListContent{
    padding:1%;
}
#productInfoContent {
    width:70%;
    height: auto;
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    padding: 1%;
    border-radius: 10px;
}
#RecommendedDiv{
    color: rgb(176, 95, 251);
    text-align: center;
}


.toRed {
    border-color: blue;
    color: blue;
}

.toRed:hover {
    border-color: #f44336;
    background: #f44336;
    color: white;
}

.toBlue {
    border-color: #f44336;
    background: #f44336;
    color: white;
}

.toBlue:hover {
    border-color: rgb(90, 90, 252);
    background: rgb(90, 90, 252);
    color: white;
}




#similarProducts{
    padding:1%;
    transition: 0.2;
}
#similarProductsInfo {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 10px;

}
h4#productName {
    padding-left: 15%;
}
h4#pruductPrice{
    padding-top: 2%;
    padding-left: 21%;
}
#jumpingDiv :hover{
    transform: scale(1.02, 1.02);
    cursor: pointer;
}
#similarProductsInfo :hover{
    cursor: pointer;
} 
#similarProductsInfo h4{
    color:rgb(137, 43, 226);
    max-height:30px;
    max-width: 80%;
    text-size-adjust: auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
#similarProductsInfo h6{
    color:white;
    max-height:30px;
    max-width: 80%;
    text-size-adjust: auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}

#similarProductsInfo owl-carousel-o{
    max-height:50px;
}
