<h2>Product details</h2>
<hr>

<div *ngIf="product">
  <div class="container">
    <div class="row">
      <div class="col-8">
            <owl-carousel-o [options]="customOptions">
              <ng-container>
                <ng-template carouselSlide *ngFor="let image of product.productImage, let i = index">
                  <img src="http://localhost:3000/images/{{product.productImage[i]}}">
                  <div class="carousel-caption">S
                    <h3 style="color: black;">{{ product['name'] }}</h3>
                    <p style="color: black;" [innerText]="product['name']"></p>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>     
      </div>

      <div class="col-4">
          <h3>{{ product['name'] }}</h3>
          <h4>{{ product['price'] | currency }}</h4>
          <p>{{ product['description'] }}</p>
          <div>
            <div>
              <form [formGroup]="addToCartForm"  (ngSubmit)="addToCart(selectedSize)">
                <select class="form-control" formControlName="selectedSize" #selectedSize>
                    <option *ngFor="let item of product['mapa'] | keyvalue">
                      {{  item.key }}
                    </option>
                  </select>
            
                <button
                  class="btn btn-primary btn-block"
                  type="submit" 
                >
                  Add a product
                </button>
              </form>
              <div *ngIf="isAdmin()">
                <button (click)="removeFromStore()" class="btn btn-danger">Remove from store</button>
              </div>
            </div>
          <hr/>
            
          </div>
      </div>

    </div>
  </div>
</div>
