<div class="shadow p-1 my-1 bg-light rounded bg-dark col-12">
  <div class="row my-1 mx-1" id="RecommendedDiv">
    <div class="col">
      <h5 style="position: relative; left: 25%">ProductInfo:</h5>
    </div>
    <div class="col">
      <h5 style="position: relative">Similar Products:</h5>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12" *ngIf="product">
      <div class="row">
        <div id="productListContent">
          <div class="row">
            <div id="productInfoContent" class="col-8">
              <div>
                <owl-carousel-o [options]="customOptions">
                  <ng-container>
                    <ng-template
                      carouselSlide
                      *ngFor="
                        let image of product['productImage'];
                        let i = index
                      "
                    >
                      <img
                        src="http://localhost:3000/images/{{
                          product['productImage'][i]
                        }}"
                        width="50%"
                        height="50%"
                      />
                      <div class="carousel-caption"></div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
              <div class="row">
                <div class="col-6 text-center" id="textDiv">
                  <div class="row" style="position: relative; left: 80px">
                    <h3>{{ product["name"] }}</h3>
                  </div>
                  <hr />
                  <div class="row" style="position: relative; left: 80px">
                    <h3>Price: {{ product["price"] | currency }}</h3>
                  </div>
                </div>
                <div class="col-6" id="buttonDiv">
                  <div *ngIf="hasUser()">
                    <div *ngIf="isInWishlist; else notInWishlist">
                      <button
                        id="wish1Button"
                        class="btn toRed btn-block"
                        (click)="removeFromWishlist()"
                      >
                        Added to wishlist
                      </button>
                    </div>
                    <ng-template #notInWishlist>
                      <button
                        id="wish2Button"
                        class="btn toBlue btn-block"
                        (click)="addToWishlist()"
                      >
                        Add to wishlist
                      </button>
                    </ng-template>
                  </div>

                  <div>
                    <form
                      [formGroup]="addToCartForm"
                      (ngSubmit)="addToCart(selectedSize)"
                    >
                      <select
                        id="selectOption"
                        class="form-control"
                        formControlName="selectedSize"
                        #selectedSize
                      >
                        <option *ngFor="let item of product['map'] | keyvalue">
                          {{ item.key }}
                        </option>
                      </select>

                      <button
                        id="myButton"
                        class="btn btn-primary btn-block"
                        type="submit"
                      >
                        Add a product
                      </button>
                    </form>
                    <div *ngIf="isAdmin()">
                      <button
                        (click)="removeFromStore()"
                        class="btn btn-danger btn-block"
                      >
                        Remove from store
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col" id="descriptionBox">
                  <p style="position: absolute; top: 0px; left: 0px">
                    Description:
                  </p>
                  <p>{{ product["description"] }}</p>
                </div>
              </div>
            </div>
            <div class="col-4" *ngIf="this.similarProducts">
              <div
                id="similarProducts"
                *ngFor="let product of this.similarProducts | orderBy: false"
              >
                <div id="jumpingDiv">
                  <div
                    id="similarProductsInfo"
                    [routerLink]="['/products/', product._id]"
                  >
                    <h4 id="productName">{{ product.name }}</h4>
                    <p>{{ product.desription }}</p>
                    <owl-carousel-o [options]="customOptions">
                      <ng-template carouselSlide>
                        <img
                          src="http://localhost:3000/images/{{
                            product['productImage'][0]
                          }}"
                        />
                      </ng-template>
                    </owl-carousel-o>
                    <div class="row">
                      <div class="col">
                        <h4 id="pruductPrice">Price:</h4>
                      </div>
                      <div class="col">
                        <h4 id="pruductPriceValue">{{ product.price }}$</h4>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="userService.hasUser()">
    <div class="col-lg-12">
      <div class="row my-1 mx-1" id="RecommendedDiv">
        <div class="shadow p-1 my-1 bg-light rounded bg-dark accented col-12">
          Recommended for you:
        </div>
      </div>
      <app-recommended></app-recommended>
    </div>
  </div>
</div>
