<div class="container"  *ngFor= "let item of items">
    <div class="card bg-dark my-2 py-2 px-2" style="color: white;">
      <div class="down-content">
        <a><h4 class="card-title" style="color:blueviolet;">{{ item.product.m_name }}</h4></a>
        <h6>{{ item.product.m_price }}$</h6>
        <p>{{ item.product.m_desription }}</p>
        <h6>Number of pieces: {{ item.amount }}</h6>
        <h6>Price of all pieces : {{ item.product.m_price*item.amount }}$</h6>
        <button class = "btn btn-secondary" 
                style="background-color: blueviolet;"
                (click)="onPlus(item)"
                 >+</button>
        <button class = "btn btn-secondary" 
                style="background-color: blueviolet;"
                (click)="onMinus(item)"
                  >-</button>
       </div>
    </div>
</div>
