<div class="container">
  <form class="my-2">
    <div class="row pt-5">
      <form (ngSubmit)="submitForm()">
        <h3>Login:</h3>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            name="email"
            id="email"
            class="form-control"
            [(ngModel)]="email"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
          />
        </div>

          <button class="btn btn-primary btn-block" type="submit">Login</button>
          <hr/>
        <div class="form-group">
          <label for="register"> Don't have an account? </label>
          
          <button name ="register" class="btn btn-primary btn-block" [routerLink]="['/register']">Register here</button>
        </div>

      </form>

    </div>
  </form>
</div>


