<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
<br>
<h2 class="logoText1">About Our store</h2>
<hr>
<div class="shadow p-2 my-1 bg-light rounded bg-dark accented col-12">You can find us here:</div>
<div class = "shadow p-2 my-1 bg-light rounded bg-dark aboutInfo col-12" *ngIf="item">

  <ul class="list-group list-group-horizontal col-12">
    <li class="list-group-item bg-dark">Address: {{item.address}}</li>
    <li class="list-group-item bg-dark">Phone: {{item.phone}}</li>
    <li class="list-group-item bg-dark">Mail: {{item.mail}}</li>
    <li class="list-group-item bg-dark">Bank account: {{item.bankAccount}}</li>
    <li class="list-group-item bg-dark"><i class="fa fa-facebook-square" style="font-size:20px"></i>
      <a href= "{{item.facebook}}" target="_blank">Facebook</a></li>
    <li class="list-group-item bg-dark"><i class="fa fa-instagram" style="font-size:20px"></i>
      <a href= "{{item.instagram}}" target="_blank">Instagram</a></li>

  </ul>

</div>

<br/><br/>
<div class="shadow p-2 my-1 bg-light rounded bg-dark accented col-12">Contact us:</div> <br/>
  <div>
      <form [formGroup]="contactUsForm"  (ngSubmit)="submitForm()">
          <div class="form-group">
              <label class="aboutInfo" for="name">Name</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                formControlName="name"
              />
          </div>

          <div class="form-group">
              <label class="aboutInfo" for="mail">Mail</label>
              <input
                type="text"
                name="mail"
                id="mail"
                class="form-control"
                formControlName="mail"
              />
          </div>

          <div class="form-group">
              <label class="aboutInfo" for="text">Text</label>
              <textarea
                type="text"
                name="text"
                id="text"
                class="form-control"
                formControlName="text"
              ></textarea>
          </div>

          <button
              class="btn btn-primary btn-block"
              type="submit"
              [disabled]="!contactUsForm.valid"
          >
              {{buttonText}}
          </button>

      </form>
      <br>
      <agm-map [mapDraggable]="false" [zoom]="17" [latitude]="m_lat" [longitude]="m_lng">
        <agm-marker [latitude]="m_lat" [longitude]="m_lng"  ></agm-marker>
      </agm-map>
      <br>
      <br>
      <br>
  </div>
</div>
