
<div class="container ">
  <div class="row">
    <div class="col-lg-3">
      <div class = "container">
          <form class="my-2">
            <div class = "row pt-5">
              <input class="form-control mr-sm-6 " type="text" placeholder="Product name" aria-label="Search" (change)="onChangeName($event)">
            </div>
            <div class="row">
              <select class="custom-select" (change)="onChangeProductCategory($event)" >
                <option selected value="">Product type</option>
                <option value="shoes">Shoes</option>
                <option value="misc">Bags and Backpacks</option>
              </select>
              <select *ngIf="m_isShoe" class="custom-select" (change)="onChangeSeason($event)">
                <option selected value="">Season</option>
                <option value="spring">Spring</option>
                <option value="summer">Summer</option>
                <option value="autumn">Autumn</option>
                <option value="winter">Winter</option>
              </select>
              <select *ngIf="m_isShoe && isSummerSpring()" class="custom-select" (change)="onChangeType($event)" >
                <option selected value="">Category</option>
                <option value="slippers">Slippers</option>
                <option value="sandals">Sandals</option>
                <option value="wingtips">Wingtips</option>
                <option value="espadrilles">Espadrilles</option>
                <option value="sneakers">Snakers</option>
              </select>
              <select *ngIf="m_isShoe && isWinterAutumn()" class="custom-select" (change)="onChangeType($event)">
                <option selected value="">Category</option>
                <option value="boots">Boots</option>
                <option value="patike">Patike</option>
                <option value="polucizme">Polucizme</option>
                <option value="cipele">Cipele</option>
                <option value="rainboots">Rain boots</option>
                <option value="snowboots">Snow boots</option>
              </select>
            </div>

            <div class="row">
              <input type="number" placeholder="Shoe size" (input)="onShoeSizeChange($event)" style=" border-radius: 6px; border:2px;" >
            </div>

          </form>
      </div>
      <div class="container">
        <ngx-slider [(value)]="this.m_minPrice" [(highValue)]="this.m_maxPrice" [options]="options" (valueChange)="onChangeRange()"></ngx-slider>
      </div>
    </div>
    <div class="col-lg-9" >
      <app-product-list></app-product-list>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-recommended></app-recommended>
    </div>
  </div>
</div>
