
<div class="container ">
  <div class="row">
    <div class="col-lg-3">
      <div class = "container">
          <form class="my-2">
            <div class = "row pt-5">
              <input class="form-control mr-sm-6 " type="text" placeholder="Product name" aria-label="Search" (change)="onChangeName($event)">
            </div>
            <div class="row">

              <!-- PRODUCT CATEGORY FILTER -->
              <div class="filter-entry col-12 p-0">

                <div class="shadow p-2 bg-light rounded bg-dark accented">Product category</div>

                <div class="form-check col-12">
                  <input (change)="onChangeProductCategory($event)" class="form-check-input" value="shoes" type="checkbox" name="checkcategory" id="radioshoes">
                  <label class="form-check-label"  for="checkshoes">Shoes</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeProductCategory($event)" class="form-check-input" value="misc" type="checkbox" name="checkcategory" id="radiomisc">
                  <label class="form-check-label" for="checkshoes">Bags and Backpacks</label>
                </div>

              </div>

              <!-- PRODUCT SEASON FILTER -->

              <div class="filter-entry col-12 p-0">
                <div class="shadow p-2 bg-light rounded bg-dark accented ">Season</div>

                <div class="form-check col-12">
                  <input (change)="onChangeSeason($event)" class="form-check-input" value="spring" type="checkbox" name="checkseason" id="radioseason1">
                  <label class="form-check-label"  for="radioseason1">Spring</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeSeason($event)" class="form-check-input" value="summer" type="checkbox" name="checkseason" id="radioseason1">
                  <label class="form-check-label" for="radioseason1">Summer</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeSeason($event)" class="form-check-input" value="autumn" type="checkbox" name="checkseason" id="radioseason1">
                  <label class="form-check-label" for="radioseason1">Autumn</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeSeason($event)" class="form-check-input" value="winter" type="checkbox" name="checkseason" id="radioseason1">
                  <label class="form-check-label" for="radioseason1">Winter</label>
                </div>

              </div>


              <!-- SUMMER PRODUCT TYPE FILTER -->
              <div class="filter-entry">
                <div class="shadow p-2 bg-light rounded bg-dark accented">Summer footwear subcategories</div>

                <div class="form-check col-12">
                  <input (change)="onChangeType($event)" class="form-check-input" value="slippers" type="checkbox" name="checkseason" id="radiocategory">
                  <label class="form-check-label"  for="radioseason1">Slippers</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeType($event)" class="form-check-input" value="sandals" type="checkbox" name="checkseason" id="radiocategory">
                  <label class="form-check-label" for="radioseason1">Sandals</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeType($event)" class="form-check-input" value="wingtips" type="checkbox" name="checkseason" id="radiocategory">
                  <label class="form-check-label" for="radioseason1">Wingtips</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeType($event)" class="form-check-input" value="espadrilles" type="checkbox" name="checkseason" id="radiocategory">
                  <label class="form-check-label" for="radioseason1">Espadrilles</label>
                </div>

                <div class="form-check col-12">
                  <input (change)="onChangeType($event)" class="form-check-input" value="sneakers" type="checkbox" name="checkseason" id="radiocategory">
                  <label class="form-check-label" for="radioseason1">Sneakers</label>
                </div>

              </div>



            <!-- WINTER PRODUCT TYPE FILTER -->
            <div class="filter-entry">
              <div class="shadow p-2 bg-light rounded bg-dark accented col-12">Winter footwear subcategories</div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="boots" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label"  for="radioseason1">Boots</label>
              </div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="patike" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label" for="radioseason1">Sneakers</label>
              </div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="polucizme" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label" for="radioseason1">Dust boots</label>
              </div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="wingtips" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label" for="radioseason1">Wingtips</label>
              </div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="rainboots" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label" for="radioseason1">Rain boots</label>
              </div>

              <div class="form-check col-12">
                <input (change)="onChangeType($event)" class="form-check-input" value="snowboots" type="checkbox" name="checkseason" id="radiocategory">
                <label class="form-check-label" for="radioseason1">Snow boots</label>
              </div>

            </div>
          </div>

          <!-- SHOE SIZE FILTER -->
            <div class="row">
              <div class="shadow p-2 my-1 bg-light rounded bg-dark accented col-12">Shoe size</div>
              <input type="number" placeholder="Input shoe size" (input)="onShoeSizeChange($event)" style=" border-radius: 6px; border:2px;" >
            </div>

          </form>
      </div>
      <!-- PRICE FILTER -->
      <div class="shadow p-2 my-1 bg-light rounded bg-dark accented">Price range: ${{m_minPrice}} - ${{m_maxPrice}}</div>
      <ngx-slider [(value)]="this.m_minPrice" [(highValue)]="this.m_maxPrice" [options]="options" (valueChange)="onChangeRange()"></ngx-slider>

    </div>

    <div class="col-lg-9" >
      <app-product-list></app-product-list>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <app-recommended></app-recommended>
    </div>
  </div>
</div>
