<div class="container mx-10">
  <div class="row" >

    <div id="productListContent" class="col-lg-4" *ngFor= "let product of this.m_productList | orderBy: false">
      <div id="productInfoContent" class="h-100 bg-dark my-2 py-2 px-2" >

        <a><h4>{{ product.name }}</h4></a>
        <h6>{{ product.price }}$</h6>
        <p>{{ product.desription }}</p>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img src="http://localhost:3000/images/{{product.productImage[0]}}" >
            </ng-template>
        </owl-carousel-o>  

        <button class = "btn btn-secondary"
                
                [routerLink]="['/products/',product._id]"
        >See details</button>

      </div>

    </div>

  </div>
</div>

<hr>
