.btn{
   background-color: blueviolet;
   position: relative;
   left: 27%;
   margin-top: 20px;
}
#productListContent{
    padding:1%;
    transition: 0.2;
}
#productInfoContent {
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border-radius: 10px;

}
h4#productName {
    padding-left: 15%;
}
h4#pruductPrice{
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 21%;
}
#jumpingDiv :hover{
    transform: scale(1.02, 1.02);
    cursor: pointer;
}
#productInfoContent :hover{
    cursor: pointer;
} 
#productInfoContent h4{
    color:rgb(137, 43, 226);
    max-height:30px;
    max-width: 80%;
    text-size-adjust: auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
#productInfoContent h6{
    color:white;
    max-height:30px;
    max-width: 80%;
    text-size-adjust: auto;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}



