<h2>Orders</h2>
<hr />

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Email</th>
      <th scope="col">Number of products</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of orders | async">
      <th scope="row">1</th>
      <td>{{ order.name }}</td>
      <td>{{ order.address }}</td>
      <td>{{ order.email }}</td>
      <td>{{ order.products.length }}</td>
      <td>
        <a class="btn btn-primary btn-block" [routerLink]="[order._id]">Info</a>
      </td>
      <td>
        <button
          class="btn btn-primary btn-danger"
          (click)="removeOrder(order._id)"
        >
          Remove
        </button>
      </td>
    </tr>
  </tbody>
</table>
