<div class="row">
  <div class="col-12">
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a class="navbar-brand p-1">FASHION <span class="accented2">UNLIMITED</span></a>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <div  *ngIf="hasUser()" >
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/logout']">Log out</a>
          </li>
        </div>
        <div  *ngIf="!hasUser()" >
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
        </div>
          <div  *ngIf="!hasUser()" >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']">Register</a>
        </li>
      </div>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/checkout']">Checkout</a>
        </li>
        <div  *ngIf="isAdmin()" >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/add-a-product']"
            >Add a product</a
          >
        </li>
      </div>
        <div  *ngIf="hasUser()" >
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/view-orders']">View orders</a>
        </li>
        </div>
        <div>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/about']">About</a>
          </li>
        </div>
      </ul>
    </nav>
  </div>
</div>
