<div class="container">
<h2>Add a product</h2>
<hr/>

<div>
  <form [formGroup]="addAProductForm"  (ngSubmit)="submitForm(image)">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        id="name"
        class="form-control"
        formControlName="name"
      />

    </div>
    <div class="form-group">
      <label for="articleType">Type of article</label>
      <input
        type="string"
        name="articleType"
        id="articleType"
        class="form-control"
        formControlName="articleType"
      />
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <input
        type="string"
        name="category"
        id="category"
        class="form-control"
        formControlName="category"
      />
    </div>
    <div class="form-group">
      <label for="season">Season</label>
      <input
        type="string"
        name="season"
        id="season"
        class="form-control"
        formControlName="season"
      />
    </div>
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        class="form-control"
        formControlName="price"
      />
    </div>


    <h2>All sizes:</h2>
    <div style="display: inline-block" *ngFor="let size of allSizes">
      <button class="btn btn-secondary" style="background-color: lightseagreen;" (click) = "addSize(size)">{{size}}</button>
    </div>

    <h2>Selected sizes:</h2>
    <div *ngFor="let item of selectedSizes | keyvalue">
      <div class="panel panel-default" style="border-style: solid;">
        <div class="panel-body" >{{item.key}} <button class="btn btn-secondary" style="background-color: red;" (click) = "minus(item.key)">-</button> {{item.value}} <button class="btn btn-secondary" style="background-color: limegreen;" (click) = "plus(item.key)">+</button> </div>
      </div>
    </div>

    <div>Summary:</div>
    <div style="display: inline-block" *ngFor="let item of selectedSizes | keyvalue">
      {{item.key}}:{{item.value}},
    </div>


    <div class="form-group">
      <label for="productImage">Upload Image</label>
      <input type="file" multiple
             id="productImage"
             name="productImage"
             class="form-control"
             formControlName="productImage"
              #image>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        class="form-control"
        formControlName="description"
        rows="5"
      ></textarea>
    </div>

    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="!addAProductForm.valid"
    >
      Add a product
    </button>
  </form>

  <div class="alert alert-danger" *ngIf="getNameErrors()?.required">
    Name is required
  </div>

  <div class="alert alert-danger" *ngIf="getPriceErrors()?.required">
    Price is required
  </div>
  <div class="alert alert-danger" *ngIf="getPriceErrors()?.min">
    Price must be at least {{ 1 | currency }}
  </div>
</div>
</div>
